{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Add Macrame Form -->
        <section>
            <div class="workshop-form-card">
                <h2 class="workshop-form-header">New Macrame</h2>
                <form class="workshop-form-fields" method="POST">
                    {{ form }}
                    {% csrf_token %}
                    <!-- form button -->
                    <button type="submit" class="view-button">Create</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}


