{% extends 'base.html' %}

{% block content %}

    <main>
        <section>
            <div class="workshop-form-card">
                <h1>You are about to delete your Author's Profile</h1>

                <form class="workshop-form-fields" method="POST" action="">
                    {% csrf_token %}
                    {{ form }}
                    <!-- Confirm/Cancel Button -->
                    <div>
                        <button class="view-button" type="submit">Confirm</button>
                        <button type="submit" class="view-button" style="background-color: darkred"><a
                                href="{% url 'user_details' request.user.pk %}" style="color: white">Cancel</a>
                        </button>
                    </div>
                </form>
                
            </div>
        </section>
    </main>

{% endblock %}

